   <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>La Fortaleza</h3>
        </div>

        <ul class="list-unstyled components">

            <li>
                <a href="#">Inicio</a>
            </li>
            <li class="">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Almacen</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Almacen 1</a>
                    </li>
                    <li>
                        <a href="#">Almacen 2</a>
                    </li>
                    <li>
                        <a href="#">Almacen 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Clientes</a>
            </li>
            <li>
                <a href="#">Compras</a>
            </li>
            <li>
                <a href="#">Empleados</a>
            </li>
            <li>
                <a href="#">Proveedores</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Reportes</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Reporte 1</a>
                    </li>
                    <li>
                        <a href="#">Reporte 2</a>
                    </li>
                    <li>
                        <a href="#">Reporte 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Ventas</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a routerLink='/login' class="download">Cerrar Sesión</a>
            </li>
        </ul>
    </nav>
