<div class="w-100 my-0 mx-auto">
    <div class="w-100 d-flex min-vh-100 justify-content-center container-login100">
        <div class="wrap-login100">
            <form class="w-100 d-flex flex-sb flex-w">

                <span class="text-center text-uppercase w-100 d-block login100-form-title">
                    La Fortaleza
                </span>

                <div class="w-100 position-relative wrap-input100">
                    <input class="d-block w-100 input100" 
                           type="text" 
                           name="username" 
                           placeholder="Nombre de usuario">

                    <span class="focus-input100"></span>
                </div>
                
                <div class="w-100 position-relative wrap-input100">
                    <input class="d-block w-100 input100"
                           type="password" 
                           name="passsword" 
                           placeholder="Contraseña">
                    <span class="focus-input100"></span>
                </div>
                
                <div class="my-0 mx-auto">
                    <a routerLink="/registro" class="txt1">
                        ¿Olvidaste tu contraseña?
                    </a>
                </div>

                <div class="w-100 d-flex container-login100-form-btn">
                    <button class="text-uppercase d-flex justify-content-center w-100 login100-form-btn" type="submit">
                        Ingresar
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
