<div class="w-100 my-0 mx-auto">
    <div class="w-100 d-flex min-vh-100 justify-content-center container-login100">
        <div class="wrap-login100">
            <form class="w-100 d-flex flex-sb flex-w">

                <span class="text-center text-uppercase w-100 d-block reset-form-title">
                    Ingresa tu correo electrónico
                </span>

                <div class="w-100 position-relative wrap-input100">
                    <input class="d-block w-100 text-center input100" 
                           type="email" 
                           name="email" 
                           placeholder="Correo electrónico">

                    <span class="focus-input100"></span>
                </div>

                <div class="w-100 d-flex container-login100-form-btn">
                    <button class="text-uppercase d-flex justify-content-center w-100 login100-form-btn" type="submit">
                        Enviar
                    </button>
                </div>

                <div class="w-100 d-flex container-login100-form-btn">
                    <button class="text-uppercase d-flex justify-content-center w-100 login100-form-btn" 
                            type="button"
                            routerLink="/login">
                        Regresar
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
